[submodule "data/markdown/gopl-zh"]
	path = data/markdown/gopl-zh
	url = https://github.com/admpub/gopl-zh
[submodule "data/markdown/build-web-application-with-golang"]
	path = data/markdown/build-web-application-with-golang
	url = https://github.com/admpub/build-web-application-with-golang
[submodule "data/markdown/xorm-manual-zh-CN"]
	path = data/markdown/xorm-manual-zh-CN
	url = https://github.com/admpub/xorm-manual-zh-CN
